<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.lxp.donation.mapper.DonationItemMapper">
    <select id="selectList" parameterType="map" resultType="com.platform.lxp.donation.entity.DonationItem">
        SELECT * FROM donation_items
        <where>
            <if test="params.category != null and params.category != ''">
                AND category = #{params.category}
            </if>
            <if test="params.campus != null and params.campus != ''">
                AND campus = #{params.campus}
            </if>
            <if test="params.keyword != null and params.keyword != ''">
                AND (title LIKE CONCAT('%', #{params.keyword}, '%') OR description LIKE CONCAT('%', #{params.keyword}, '%'))
            </if>
            <if test="params.status != null and params.status != ''">
                AND status = #{params.status}
            </if>
        </where>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCount" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM donation_items
        <where>
            <if test="params.category != null and params.category != ''">
                AND category = #{params.category}
            </if>
            <if test="params.campus != null and params.campus != ''">
                AND campus = #{params.campus}
            </if>
            <if test="params.keyword != null and params.keyword != ''">
                AND (title LIKE CONCAT('%', #{params.keyword}, '%') OR description LIKE CONCAT('%', #{params.keyword}, '%'))
            </if>
            <if test="params.status != null and params.status != ''">
                AND status = #{params.status}
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultType="com.platform.lxp.donation.entity.DonationItem">
        SELECT * FROM donation_items WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.platform.lxp.donation.entity.DonationItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO donation_items (title, description, price, category, images, user_name, user_avatar, campus, status, created_at, updated_at)
        VALUES (#{title}, #{description}, #{price}, #{category}, #{images}, #{userName}, #{userAvatar}, #{campus}, #{status}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="com.platform.lxp.donation.entity.DonationItem">
        UPDATE donation_items SET
            title = #{title},
            description = #{description},
            price = #{price},
            category = #{category},
            images = #{images},
            user_name = #{userName},
            user_avatar = #{userAvatar},
            campus = #{campus},
            status = #{status},
            updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM donation_items WHERE id = #{id}
    </delete>
</mapper>